*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --nav-color-bolt: #FFFFFF;
    --nav-color-normal: #8D8D99;
    --text-color: #E1E1E6;
}

body{
    background-image: url('./img/mountains-universe-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 

    height: 100vh;
    padding: 40px 72px;
    font-family: 'Roboto', sans-serif;
    
}

nav{
    display: flex;
    flex-direction: row;
    gap: 2rem;

    align-items: center;
}

nav a{
    color: var(--nav-color-normal);
    text-decoration: none;
    
    font-size: 24px;
}

